# Ignore everything by default
*

# Unignore specific directories
!ghostty/
!waybar/
!fuzzel/
!niri/
!nvim

# Ensure Git looks into these directories
!ghostty/**
!waybar/**
!fuzzel/**
!niri/**
!nvim/**

# Explicitly unignore files or subdirectories inside `nvim`
!nvim/*
