# Ignore everything by default
*

# Unignore specific directories
!ghostty/
!waybar/
!fuzzel/
!niri/
!zsh/
!mako/

!swaybag.txt
!swayidle.txt
!install.sh

!nvim
!zsh

# Ensure Git looks into these directories
!ghostty/**
!waybar/**
!fuzzel/**
!niri/**
!nvim/**
!mako/**
!zsh/**

!nvim/*
!zsh/*
